<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Account</title>
        
        <link href="/assets/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
     <script th:inline="javascript" th:if="${err}">
        alert([[${err}]]);
    </script>
    
    <script th:inline="javascript" th:if="${msg}">
        alert([[${msg}]]);
    </script>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">My Account</h3></div>
                                    <div class="card-body">
                                        <form method="post" th:object="${admin}" th:action="@{/edit_admin}" >
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="name" type="text" th:field="*{id}" />
                                                        <label for="inputFirstName">Id</label>
                                            </div>
                                            
                                             <div class="form-floating mb-3">
                                                <input class="form-control" name="name" type="text" th:field="*{name}" />
                                                        <label for="inputFirstName">Name</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" th:field="*{email}" />
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Update details</button></div>
                                            </div>
                                            
                                        </form>
                                        
                                    </div>
                                   <a class="btn btn-dark " th:href="@{/admin_dashboard/{id}(id = ${admin.id})}">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
